.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.MealsLoading {
  text-align: center;
  width: 260px;
  color: wheat;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
}
.MealsFetchingError {
  width: 260px;
  color: red;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #add8e6;
  border-radius: 4px;
}

@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
